Card Reader - Pro.json
{
  "name": "Card Reader - Pro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "card-scanner-api",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "455608f3-07bc-4b66-85e4-d4395ee9188c",
      "name": "PWA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        5648,
        9120
      ],
      "webhookId": "card-scanner-api-001"
    },
    {
      "parameters": {
        "jsCode": "// Parse PWA FormData into workflow format\nconst inputItem = $input.first();\nconst json = inputItem.json;\nconst body = json.body || json;\nconst binary = inputItem.binary || {};\nconst items = [];\n\n// Extract form fields - check both json root and json.body\nconst sales_person_name = body['Sales Person Name'] || json['Sales Person Name'] || json.salesPerson || '';\nconst remark = body['Remark'] || json['Remark'] || json.remark || '';\nconst event_name = body['Event Name'] || json['Event Name'] || json.eventName || '';\nconst quick_notes = body['Quick Notes'] || json['Quick Notes'] || json.quickNotes || '';\n\n// Find images and voice note from binary data\nconst frontImages = {};\nconst backImages = {};\nlet voiceNote = null;\nlet frontIdx = 0;\nlet backIdx = 0;\n\nfor (const key of Object.keys(binary)) {\n  const k = key.toLowerCase();\n  if (k.includes('business_card_image') || k.includes('business card image') || (k.includes('front') && !k.includes('back'))) {\n    frontImages[String(frontIdx)] = binary[key];\n    frontIdx++;\n  } else if (k.includes('back') || k.includes('business_card_back')) {\n    backImages[String(backIdx)] = binary[key];\n    backIdx++;\n  } else if (k.includes('voice') || k.includes('audio')) {\n    voiceNote = binary[key];\n  }\n}\n\n// If no categorized images found, try generic binary keys\nif (frontIdx === 0) {\n  for (const key of Object.keys(binary)) {\n    if (!key.toLowerCase().includes('voice') && !key.toLowerCase().includes('audio')) {\n      frontImages[String(frontIdx)] = binary[key];\n      frontIdx++;\n    }\n  }\n}\n\nfor (const index of Object.keys(frontImages)) {\n  const item = {\n    json: {\n      sales_person_name: sales_person_name,\n      remark: remark,\n      event_name: event_name,\n      quick_notes: quick_notes,\n      has_voice_note: voiceNote ? true : false\n    },\n    binary: {\n      Business_Card_Image: frontImages[index]\n    }\n  };\n  if (backImages[index]) {\n    item.binary.Business_Card_Back_Side = backImages[index];\n  }\n  if (voiceNote && index === '0') {\n    item.binary.Voice_Note = voiceNote;\n  }\n  items.push(item);\n}\n\nif (items.length === 0) {\n  return [{ json: { sales_person_name, remark, event_name, quick_notes, has_voice_note: false }, binary }];\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        9120
      ],
      "id": "8cc318c9-d4dc-4b07-b980-dfe6fd6c6a06",
      "name": "Parse PWA Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, company_name: $json.company_name || '', full_name: $json.full_name || '', job_title: $json.job_title || '', phone_number: $json.phone_number || '', mobile_number: $json.mobile_number || '', email: $json.email || '', website: $json.website || '', address: $json.address || '', products: $json.products || '', other_details: $json.other_details || '' }) }}",
        "options": {}
      },
      "id": "d4c6eb78-04f6-4e25-b07c-50d43351ea3a",
      "name": "Respond to PWA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7440,
        9168
      ]
    },
    {
      "parameters": {
        "formTitle": "Super Sonic - Business Card Scanner",
        "formDescription": "Upload business card images and voice notes to capture lead details automatically",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Card Image",
              "fieldType": "file",
              "acceptFileTypes": "image/*",
              "requiredField": true
            },
            {
              "fieldLabel": "Business Card Back Side (Optional)",
              "fieldType": "file",
              "acceptFileTypes": "image/*"
            },
            {
              "fieldLabel": "Voice Note (Optional)",
              "fieldType": "file",
              "acceptFileTypes": "audio/*"
            },
            {
              "fieldLabel": "Sales Person Name",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Dharmesh"
                  },
                  {
                    "option": "Pankanj"
                  },
                  {
                    "option": "Smit"
                  },
                  {
                    "option": "Tejash"
                  },
                  {
                    "option": "Vihang"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Remark",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "High"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "Low"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Event Name",
              "placeholder": "e.g., IMTEX 2026 Bangalore"
            },
            {
              "fieldLabel": "Quick Notes",
              "fieldType": "textarea",
              "placeholder": "Any additional notes about this lead..."
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a1dc1374-992c-41ae-9b99-9b7e3df35c1b",
      "name": "Upload Business Card",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        5648,
        9408
      ],
      "webhookId": "ace3fb36-1315-46e3-955d-12178e1005f3"
    },
    {
      "parameters": {
        "jsCode": "// Split multiple card uploads into individual items\n// Also handle voice notes and extra form fields\n\nconst inputItem = $input.first();\nconst json = inputItem.json;\nconst binary = inputItem.binary || {};\nconst items = [];\n\n// Extract form fields\nconst sales_person_name = json['Sales Person Name'] || '';\nconst remark = json.Remark || '';\nconst event_name = json['Event Name'] || '';\nconst quick_notes = json['Quick Notes'] || '';\n\n// Separate front images, back images, and voice notes\nconst frontImages = {};\nconst backImages = {};\nlet voiceNote = null;\n\nfor (const key of Object.keys(binary)) {\n  if (key.startsWith('Business_Card_Image_')) {\n    const index = key.replace('Business_Card_Image_', '');\n    frontImages[index] = binary[key];\n  } else if (key.startsWith('Business_Card_Back_Side_Optional_')) {\n    const index = key.replace('Business_Card_Back_Side_Optional_', '');\n    backImages[index] = binary[key];\n  } else if (key.startsWith('Voice_Note_Optional_') || key.startsWith('Voice_Note_')) {\n    voiceNote = binary[key];\n  }\n}\n\n// Process each front image and match with corresponding back image\nfor (const index of Object.keys(frontImages)) {\n  const item = {\n    json: {\n      sales_person_name: sales_person_name,\n      remark: remark,\n      event_name: event_name,\n      quick_notes: quick_notes,\n      has_voice_note: voiceNote ? true : false\n    },\n    binary: {\n      Business_Card_Image: frontImages[index]\n    }\n  };\n  \n  // Add back side image if exists for this index\n  if (backImages[index]) {\n    item.binary.Business_Card_Back_Side = backImages[index];\n  }\n  \n  // Add voice note to first card item only\n  if (voiceNote && index === Object.keys(frontImages)[0]) {\n    item.binary.Voice_Note = voiceNote;\n  }\n  \n  items.push(item);\n}\n\nif (items.length === 0) {\n  return [inputItem];\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        9408
      ],
      "id": "0f08f192-8aaf-43bb-b73b-605a30bfb467",
      "name": "Split Cards & Extract Voice",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "sales_person_name",
              "value": "={{ $json.sales_person_name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "remark",
              "value": "={{ $json.remark }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "event_name",
              "value": "={{ $json.event_name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "quick_notes",
              "value": "={{ $json.quick_notes }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "has_voice_note",
              "value": "={{ $json.has_voice_note }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8dc94b69-66ef-4362-bf82-899cd0de40e8",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6096,
        9168
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "sales_person_name",
              "value": "={{ $json.sales_person_name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "remark",
              "value": "={{ $json.remark }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "event_name",
              "value": "={{ $json.event_name }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "quick_notes",
              "value": "={{ $json.quick_notes }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "has_voice_note",
              "value": "={{ $json.has_voice_note }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "90fb6932-d5a5-4b8f-9025-6171ab58b63c",
      "name": "Prepare Card Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6320,
        9168
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract all contact information AND any additional details from the business card image(s). If multiple images are provided (front and back), extract and combine information from all images.\nExtract these fields:\n- company_name\n- full_name\n- job_title\n- phone_number\n- mobile_number\n- email\n- website\n- address\n- products \n- other_details (for certifications, taglines, social media handles, QR codes, or any other miscellaneous text from front or back side)\nRules:\n1. If the card mentions products, services (e.g., logistics, transportation), or manufacturing details, extract them into the \"products\" field even if company name implies it.\n2. Any other remaining information (like certifications, taglines, etc.) should go into \"other_details\"\n3. If a field is not present on the card, return null for that field\n4. Return valid JSON only, no additional text\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a business card OCR expert. Extract ALL information from the business card image(s).\n\nExtract these fields with STRICT separation:\n\n1. **company_name**: Company/business name only\n2. **full_name**: Person's full name\n3. **job_title**: Person's job title/position\n4. **phone_number**: Landline/office phone\n5. **mobile_number**: Mobile phone number(s)\n6. **email**: Email address\n7. **website**: Website URL\n8. **address**: Complete physical address\n9. **products**: Extract ONLY products, services, or items manufactured/sold. List them as comma-separated or array format.\n10. **other_details**: Extract ONLY non-product information like GSTIN number, certifications, taglines (e.g., \"Quality Your Success\"), establishment year, social media handles, QR codes, etc. Do NOT include products here.\n\nCRITICAL RULES:\n- Separate products from other_details clearly\n- Products = things the company sells/manufactures\n- Other_details = registrations, certifications, mottos, codes\n- Return valid JSON only, no additional text\n- If field not present, return null",
          "passthroughBinaryImages": true
        }
      },
      "id": "a81ce053-565e-4f9c-b016-d0e82f716087",
      "name": "Extract Card Details",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        6544,
        9168
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6624,
        9600
      ],
      "id": "bb686999-e1dd-47a8-8f33-c52430c15f02",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Ln9SIZ0CgbRYzJ5d",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"company_name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"full_name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"job_title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"phone_number\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"mobile_number\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"email\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"website\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"address\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"products\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Products, services, or items manufactured/sold by the company. Extract all product names, tools, equipment, or services mentioned on the card. Examples: Air Pneumatic Tools, Solenoid Valves, Air Cylinders, Compressors, etc.\"\n\t\t},\n\t\t\"other_details\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Other miscellaneous information like GSTIN, certifications, taglines, establishment year, social media handles, QR codes, or any other non-product text\"\n\t\t}\n\t},\n\t\"required\": []\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        6624,
        9392
      ],
      "id": "fe1e67ea-55c6-49cd-aaf8-c1e68efca823",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.output.full_name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.output.company_name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "87fa3c46-4532-479d-8beb-867bbd25e590",
      "name": "Check Extraction Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6992,
        9168
      ]
    },
    {
      "parameters": {
        "errorMessage": "Failed to extract data from business card. Please ensure the image is clear and contains readable text."
      },
      "id": "0e0b5775-d76b-4d8f-9aa3-091a152d2dad",
      "name": "Extraction Failed",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        7216,
        9072
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst processedItems = [];\n\nconst cleanNumbers = (val) => {\n  if (!val) return '';\n  return String(val).replace(/[^0-9,+\\s-]/g, '').replace(/\\+91/g, '').replace(/[\\s-]/g, '').replace(/,+/g, ',').split(',').map(n => n.trim()).filter(n => n.length >= 5 && n.length <= 15).join(', ');\n};\n\n// Get form data from ALL possible sources\nlet sales_person_name = '', remark = '', event_name = '', quick_notes = '';\nconst sources = ['Parse PWA Data', 'Split Cards & Extract Voice', 'Workflow Configuration', 'Prepare Card Data'];\nfor (const src of sources) {\n  try {\n    const d = $(src).first().json;\n    if (!sales_person_name && d.sales_person_name) sales_person_name = d.sales_person_name;\n    if (!remark && d.remark) remark = d.remark;\n    if (!event_name && d.event_name) event_name = d.event_name;\n    if (!quick_notes && d.quick_notes) quick_notes = d.quick_notes;\n  } catch (e) {}\n}\n\n// Get voice note\nlet voice_note_text = '';\ntry {\n  const v = $('Transcribe Voice Note');\n  if (v && v.first()) voice_note_text = v.first().json.text || v.first().json.transcription || '';\n} catch (e) {}\n\nfor (const item of items) {\n  const output = item.json.output || item.json;\n  if (output.phone_number) output.phone_number = cleanNumbers(output.phone_number);\n  if (output.mobile_number) output.mobile_number = cleanNumbers(output.mobile_number);\n  \n  processedItems.push({ json: {\n    company_name: output.company_name || '',\n    full_name: output.full_name || '',\n    job_title: output.job_title || '',\n    phone_number: output.phone_number || '',\n    mobile_number: output.mobile_number || '',\n    email: output.email || '',\n    website: output.website || '',\n    address: output.address || '',\n    products: output.products || '',\n    other_details: output.other_details || '',\n    sales_person_name: sales_person_name,\n    remark: remark,\n    event_name: event_name,\n    quick_notes: quick_notes,\n    voice_note: voice_note_text\n  }});\n}\n\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7216,
        9264
      ],
      "id": "e10f0596-daa1-4760-9e05-20599d57a608",
      "name": "Process & Clean Data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qnWy8_0M_s6bDqQPWvix334EFW0pzueVwquGMmrafJo",
          "mode": "list",
          "cachedResultName": "Scan Card detail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qnWy8_0M_s6bDqQPWvix334EFW0pzueVwquGMmrafJo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qnWy8_0M_s6bDqQPWvix334EFW0pzueVwquGMmrafJo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toFormat('dd-MM-yyyy hh:mm a') }}",
            "Company Name": "={{ $json.company_name }}",
            "Customer Name": "={{ $json.full_name }}",
            "Phone Number": "={{ $json.phone_number }}",
            "Mobile Number": "={{ $json.mobile_number }}",
            "Email Address": "={{ $json.email }}",
            "Physical Address": "={{ $json.address }}",
            "Website": "={{ $json.website }}",
            "Producat": "={{ $json.products }}",
            "other": "={{ $json.other_details }}",
            "Sales Persone ": "={{ $json.sales_person_name }}",
            "Remark": "={{ $json.remark }}",
            "Event": "={{ $json.event_name }}",
            "Quick Notes": "={{ $json.quick_notes }}",
            "Voice Note": "={{ $json.voice_note }}",
            "Status": "Sent",
            "Sent Time": "={{ $now.toFormat('dd-MM-yyyy hh:mm a') }}"
          },
          "matchingColumns": [
            "Company Name"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Physical Address",
              "displayName": "Physical Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales Persone ",
              "displayName": "Sales Persone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remark",
              "displayName": "Remark",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Producat",
              "displayName": "Producat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "other",
              "displayName": "other",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sent Time",
              "displayName": "Sent Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event",
              "displayName": "Event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quick Notes",
              "displayName": "Quick Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Voice Note",
              "displayName": "Voice Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "460da52f-15ac-430a-a696-8a5925108987",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7440,
        9360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1qALO6Gy1muJfQJk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean and format phone numbers for WhatsApp API\nfunction cleanForWhatsApp(num) {\n  if (!num) return '';\n  let cleaned = String(num).replace(/[^0-9]/g, '');\n  if (!cleaned || cleaned.length < 5) return '';\n  if (cleaned.startsWith('0')) cleaned = cleaned.substring(1);\n  if (!cleaned.startsWith('91') || cleaned.length <= 10) {\n    cleaned = '91' + cleaned;\n  }\n  return cleaned.substring(0, 12);\n}\n\nconst items = $input.all();\nconst results = [];\nfor (const item of items) {\n  const d = item.json;\n  const phoneRaw = d['Phone Number'] || d.phone_number || '';\n  const mobileRaw = d['Mobile Number'] || d.mobile_number || '';\n  results.push({\n    json: {\n      phone_number: cleanForWhatsApp(phoneRaw),\n      mobile_number: cleanForWhatsApp(mobileRaw),\n      email: d['Email Address'] || d.email || '',\n      customer_name: d['Customer Name'] || d.full_name || '',\n      company_name: d['Company Name'] || d.company_name || '',\n      event_name: d['Event'] || d.event_name || 'IMTEX 2026 Bangalore'\n    }\n  });\n}\nreturn results;"
      },
      "id": "06482421-811a-4fab-8b8d-0726c8e0dd39",
      "name": "Prepare WhatsApp Check Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7664,
        9264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/978006945387748/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "EAAVvr9GvWhYBQM7eVsbG1pxwoYdAQevI8W9gPZAtDzhTErRsvgtNc5IiXbI3qKjVgTAcZC828kDtw3ZAZBP1phL2dTQKAVTFH4V2fMzoIFMTbmETrRSOA3V5Ao1JYIxcHE5kpjsx6Kno9Oxmrus3JNf9nQcAWM3cfC4H30VZBqWUryErnDpdZCPi94VupiaQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone_number || '911234567890', type: 'text', text: { body: 'Test' } }) }}",
        "options": {}
      },
      "id": "f9e185c8-824c-4631-af7e-f9fe760d9d68",
      "name": "Check WhatsApp on Phone Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7888,
        9264
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "NyMn3oqFPqaxFlIF",
          "name": "Bearer Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ ($('Check WhatsApp on Phone Number').item.json.contacts || [])[0] ? $('Check WhatsApp on Phone Number').item.json.contacts[0].wa_id : '' }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "02cc014d-5d2f-4eb7-b54f-ebff9753320c",
      "name": "Check Phone Number Has WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8112,
        9264
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/978006945387748/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "EAAVvr9GvWhYBQM7eVsbG1pxwoYdAQevI8W9gPZAtDzhTErRsvgtNc5IiXbI3qKjVgTAcZC828kDtw3ZAZBP1phL2dTQKAVTFH4V2fMzoIFMTbmETrRSOA3V5Ao1JYIxcHE5kpjsx6Kno9Oxmrus3JNf9nQcAWM3cfC4H30VZBqWUryErnDpdZCPi94VupiaQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.mobile_number || '911234567890', type: 'text', text: { body: 'Test' } }) }}",
        "options": {}
      },
      "id": "0a8955e4-8e1c-4be7-9927-a08da0fa6c0b",
      "name": "Check WhatsApp on Mobile Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8336,
        9168
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "NyMn3oqFPqaxFlIF",
          "name": "Bearer Auth account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ ($('Check WhatsApp on Mobile Number').item.json.contacts || [])[0] ? $('Check WhatsApp on Mobile Number').item.json.contacts[0].wa_id : '' }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06ded70c-c667-455b-a595-2d5981d42382",
      "name": "Check Mobile Number Has WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8560,
        9168
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "phoneNumberId": "978006945387748",
        "recipientPhoneNumber": "={{ $json.phone_number }}",
        "template": "thank_you|en_US",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.event_name || 'IMTEX 2026 Bangalore Exhibition' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "a1dae47e-b97f-44e6-83f2-162c2ad5e0d3",
      "name": "Send WhatsApp to Phone Number",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        8336,
        9360
      ],
      "webhookId": "c4942387-ff1f-4509-84f6-3941799cb89e",
      "credentials": {
        "whatsAppApi": {
          "id": "wtBjlpc6p6GoCouL",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "phoneNumberId": "978006945387748",
        "recipientPhoneNumber": "={{ $json.mobile_number }}",
        "template": "thank_you|en_US",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.event_name || 'IMTEX 2026 Bangalore Exhibition' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "2b4423ba-e0d2-49a8-8df0-cf5313b89da5",
      "name": "Send WhatsApp to Mobile Number",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        8784,
        9168
      ],
      "webhookId": "c8461a86-351f-4bba-b7b7-2c9d491dc03c",
      "credentials": {
        "whatsAppApi": {
          "id": "wtBjlpc6p6GoCouL",
          "name": "WhatsApp account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] || $json.email }}",
        "subject": "=Thank you for visiting SUPER SONIC at {{ $json['Event'] || $json.event_name || 'Exhibition' }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #2c3e50; background: #f4f7fa; }\n        .email-wrapper { max-width: 650px; margin: 30px auto; background: #ffffff; border-radius: 16px; overflow: hidden; box-shadow: 0 10px 40px rgba(0,0,0,0.1); }\n        .header { background: linear-gradient(135deg, #1e3c72 0%, #2a5298 50%, #7e8ba3 100%); color: white; padding: 40px 30px; text-align: center; position: relative; }\n        .header::after { content: ''; position: absolute; bottom: -20px; left: 0; right: 0; height: 40px; background: white; border-radius: 50% 50% 0 0; }\n        .header h1 { font-size: 28px; margin-bottom: 10px; font-weight: 600; }\n        .header p { font-size: 16px; opacity: 0.9; }\n        .content { padding: 40px 35px; background: white; }\n        .greeting { font-size: 18px; color: #1e3c72; margin-bottom: 20px; }\n        .main-text { font-size: 15px; color: #555; margin-bottom: 20px; line-height: 1.8; }\n        .highlight-box { background: linear-gradient(135deg, #e3f2fd 0%, #bbdefb 100%); padding: 25px; border-radius: 12px; border-left: 5px solid #2196F3; margin: 25px 0; box-shadow: 0 4px 15px rgba(33,150,243,0.1); }\n        .highlight-box h3 { color: #1976D2; font-size: 18px; margin-bottom: 12px; font-weight: 600; }\n        .highlight-box p { color: #424242; font-size: 15px; line-height: 1.7; }\n        .cta-section { text-align: center; margin: 35px 0; padding: 20px; background: linear-gradient(135deg, #e8f5e9 0%, #c8e6c9 100%); border-radius: 12px; }\n        .cta-button { display: inline-block; background: linear-gradient(135deg, #0d47a1 0%, #1565c0 100%); color: #ffffff !important; padding: 18px 45px; text-decoration: none; border-radius: 50px; font-size: 17px; font-weight: 700; box-shadow: 0 8px 24px rgba(13,71,161,0.45); letter-spacing: 0.5px; border: none; }\n        .company-highlight { background: #f8f9fa; padding: 25px; border-radius: 12px; margin: 30px 0; text-align: center; border: 2px dashed #90caf9; }\n        .company-name { color: #1565c0; font-size: 22px; font-weight: 700; margin-top: 10px; }\n        .signature { margin-top: 35px; padding-top: 25px; border-top: 2px solid #e3f2fd; }\n        .signature p { margin: 5px 0; color: #555; }\n        .signature-name { color: #1565c0; font-weight: 600; font-size: 17px; }\n        .footer { background: linear-gradient(135deg, #263238 0%, #37474f 100%); color: white; padding: 40px 30px; text-align: center; }\n        .footer-company { font-size: 24px; font-weight: 600; margin-bottom: 30px; color: #90caf9; letter-spacing: 0.5px; }\n        .contact-info { background: rgba(255,255,255,0.1); padding: 25px; border-radius: 12px; margin: 20px 0; }\n        .contact-row { display: block; margin: 12px 0; font-size: 15px; line-height: 1.8; }\n        .contact-row a { color: #90caf9; text-decoration: none; font-weight: 500; }\n        .divider-footer { height: 1px; background: rgba(255,255,255,0.2); margin: 25px 0; }\n        .address { margin-top: 20px; font-size: 14px; line-height: 1.9; color: #cfd8dc; }\n        .divider { height: 3px; background: linear-gradient(90deg, #1565c0 0%, #0d47a1 100%); margin: 30px 0; border-radius: 2px; }\n    </style>\n</head>\n<body>\n    <div class=\"email-wrapper\">\n        <div class=\"header\">\n            <h1>Thank You for Visiting Us!</h1>\n            <p>{{ $json['Event'] || $json.event_name || 'Exhibition' }}</p>\n        </div>\n        <div class=\"content\">\n            <p class=\"greeting\">Dear <strong>{{ $json['Customer Name'] || $json.full_name || 'Valued Customer' }}</strong>,</p>\n            <p class=\"main-text\">\n                Thank you for visiting <strong>SUPER SONIC</strong> at <strong>{{ $json['Event'] || $json.event_name || 'Exhibition' }}</strong>. It was a pleasure connecting with you and understanding your requirements.\n            </p>\n            <div class=\"highlight-box\">\n                <h3>About SUPER SONIC</h3>\n                <p>\n                    SUPER SONIC is a trusted name in <strong>Automation &amp; Laser Machinery</strong>, delivering precision-engineered industrial parts and cutting-edge solutions. We partner with leading global manufacturers to bring you the best in quality and innovation.\n                </p>\n            </div>\n            <p class=\"main-text\">\n                Whether you need technical specifications, quotations, or expert guidance on the right solution for your application, our team is ready to assist you. Feel free to reach out anytime.\n            </p>\n            <div class=\"cta-section\">\n                <a href=\"https://drive.google.com/file/d/1_lnWuujBS3mtebUgqVNhS_ihSj9D3lBX/view?usp=drive_link\" class=\"cta-button\" style=\"color: #ffffff !important; text-decoration: none;\">View Our Product Catalogue</a>\n            </div>\n            <div class=\"divider\"></div>\n            <div class=\"company-highlight\">\n                <p style=\"margin-bottom: 10px; color: #666; font-size: 16px;\">We look forward to a successful partnership with</p>\n                <p class=\"company-name\">{{ $json['Company Name'] || $json.company_name || '' }}</p>\n            </div>\n            <div class=\"signature\">\n                <p style=\"font-size: 16px;\">Warm Regards,</p>\n                <p class=\"signature-name\">{{ $json['Sales Persone '] || $json.sales_person_name || 'Team Super Sonic' }}</p>\n                <p style=\"color: #1565c0; font-weight: 500; font-size: 15px;\">Super Sonic Industry Private Limited</p>\n            </div>\n        </div>\n        <div class=\"footer\">\n            <div class=\"footer-company\">Super Sonic Industry Private Limited</div>\n            <div class=\"contact-info\">\n                <div class=\"contact-row\">Email: <a href=\"mailto:enquiry@supersonicgroup.in\">enquiry@supersonicgroup.in</a></div>\n                <div class=\"contact-row\">Mobile: <a href=\"tel:+916353767128\">+91 6353767128</a></div>\n                <div class=\"contact-row\">Website: <a href=\"https://supersonicgroup.in\" target=\"_blank\">supersonicgroup.in</a></div>\n            </div>\n            <div class=\"divider-footer\"></div>\n            <div class=\"address\">\n                Plot No. C-10/5-6, Soma Kanji Estate-2, SK-2,<br>\n                Near Sosyo Circle, Opposite Sanidev Temple,<br>\n                Udhna Magdalla Road, Surat - 395002,<br>\n                Gujarat, India\n            </div>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        7664,
        9456
      ],
      "id": "d2539ed0-08cb-435e-9578-0a07b1258974",
      "name": "Send Email",
      "webhookId": "83b9b33f-9987-41d6-a14c-c67bf6408a01",
      "credentials": {
        "gmailOAuth2": {
          "id": "GiE3Sanf0vLhIpGh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.has_voice_note }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75ff6222-dc56-4a28-a45b-b2ff36cbb331",
      "name": "Has Voice Note?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6096,
        9360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.httpBearerAuth.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Voice_Note"
            },
            {
              "name": "language",
              "value": "hi"
            }
          ]
        },
        "options": {}
      },
      "id": "abf59029-807d-4ee6-827d-81e0b96bb674",
      "name": "Transcribe Voice Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6320,
        9360
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "NyMn3oqFPqaxFlIF",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "PWA Webhook": {
      "main": [
        [
          {
            "node": "Parse PWA Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PWA Data": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Voice Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Business Card": {
      "main": [
        [
          {
            "node": "Split Cards & Extract Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Cards & Extract Voice": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has Voice Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Prepare Card Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Card Data": {
      "main": [
        [
          {
            "node": "Extract Card Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Card Details": {
      "main": [
        [
          {
            "node": "Check Extraction Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Card Details",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Card Details",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check Extraction Success": {
      "main": [
        [
          {
            "node": "Process & Clean Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraction Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Clean Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to PWA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Prepare WhatsApp Check Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WhatsApp Check Data": {
      "main": [
        [
          {
            "node": "Send WhatsApp to Phone Number",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp to Mobile Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Voice Note?": {
      "main": [
        [
          {
            "node": "Transcribe Voice Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fa205e22-185c-4382-bee9-e638f1d76543",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e8f2c5f0f3e960328ec53c3ed751e6a324296b86f2018da754bf0707e092748"
  },
  "id": "vLvdZ5E6H2p1c7Hw",
  "tags": []
}